@import "tailwindcss";

@theme {
  --breakpoint-mobsm: 20rem;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background: #DBFCE7; */
}

* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll-left 30s linear infinite;
}

.card {
  /* min-width: 340px; */
  max-width: 360px;
  height: 140px;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}